* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}
html {
  width: 500px;
  background-color: darkslategrey;
  margin-left: 35%;
  margin-top: 5%;
}
.container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  background-color: white;
  height: 500px;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  color: darkslategrey;
}

.glow-on-hover {
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  color: white;
  background: darkslategrey;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 10%;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(210, 242, 234);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background: darkslategrey;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
span {
  font-size: 12px;
  color: red;
}
.header-title h1,
h5 {
  color: green;
}
.header-title p {
  font-weight: 600;
  color: rgb(107, 104, 104);
}
.question-style {
  color: goldenrod !important;
}
